/*字体头像*/
.text-avatar {
    width: 33px;
    height: 33px;
    margin-right: 10px;
    border-radius: 50%;
    display: inline-block;
    background-color: #419488;
    line-height: 33px;
    text-align: center;
    vertical-align: middle;
    color: #fff;
    font-size: 20px;
}

/*默认先让字体头像隐藏*/
.text-avatar {
    display: none;
}

/*跳转顶级菜单的图标位置*/
.iconfont {
    margin-right: 8px;
    position: relative;
    top: 1px;
}

/*调整子菜单的图标*/
.layui-icon {
    margin-left: 15px;
    margin-right: 5px;
}